html {
  background-color: rgb(237, 254, 255);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Single Day', cursive, Arial;
  font-weight: 400;
  font-style: normal;
  color: rgb(5, 97, 102);
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  max-width: 80%;
}

body {
  font-family: 'Single Day', cursive, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(5, 97, 102);
}

/* Ensure box-sizing includes padding and borders */
* {
  box-sizing: border-box;
}

div img,
div p {
  max-width: 100%;
  object-fit: fill;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}
p {
  font-size: 1.5em;
}

header,
footer,
main {
  width: 70%;
  margin: 0 auto; /* Center align these elements */
}

/* header & nav styling */
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden; /* Prevent horizontal scrolling *
  /* padding: 0.3em; */
}

.head-container img {
  width: 15em;
}

header h1 {
  font-size: 3.5em;
}

nav {
  font-size: 1.5em;
}

/* listing styling */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* buttons styling */

button {
  /* background-color: #249fa5 */
  background-color: #225c5e;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px #a1aeae;
  padding: 5px 15px;
  min-height: 2.5em;
  min-width: 4em;
  font-size: 1em;
  margin: 1em;
}

.game-btn {
  background-color: #235f61;
  box-shadow: 3px 3px rgb(161, 174, 174);
}

.answers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.answers button {
  font-size: 1.5em;
  font-family: 'Single Day', cursive, Arial;
}

.popup-overlay {
  position: relative;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .popup-overlay {
  position: fixed;
  width: 100%;
  height: 300px;
} */

/* .answer-popup { */
/* width: 400px;
  background: white;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  color: #333;
  position: fixed; */
/* background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 0 30px 30px;
  top: 50%;
  left: 50%;
  width: 400px;
} */

.answer-popup {
  position: absolute;
  /* bottom: 10%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.answer-popup img {
  width: 100px;
  margin-top: -50px;
  /* border-radius: ; */
  box-shadow: 0 2px 5px rgba(red, green, blue, alpha);
}

/* reactive */

@media (max-width: 800px) {
  html {
    max-width: 95%;
    margin-left: 1em;
  }
  p {
    font-family: 'Noteworthy', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
  }
  nav {
    float: center;
  }
  h1,
  header h1 {
    font-size: 2em;
  }
  header img {
    width: 10em;
  }
  h2 {
    font-size: 1.5em;
  }
  img {
    max-width: 20em;
  }
  header,
  footer,
  main {
    width: 100%;
  }
}
