.jigsaw-pieces {
  border: 0.2em solid rgb(56, 158, 163);
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}

.jigsaw-pieces img {
  flex: 0 0 5em;
  height: 5em;
  margin: 1em;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 42.2em;
  margin: 0em;
  padding: 1.1em 0em;
  border: 5px solid #225c5e;
  justify-content: center;
  align-items: center;
}

.box {
  height: 5em;
  width: 5em;
  /* border: 0.05em solid grey; */
  margin: 0.1em;
  padding: 0px;
}

.drop-position {
  /* background-color: rgb(237, 254, 255); */
  background-color: rgb(206, 247, 249);
  /* background-color: rgb(206, 247, 249); */
}

.board-section {
  display: flex;
  flex-wrap: wrap;
}

.board-menu button {
  font-family: 'Single Day', 'cursive', Arial;
}
